#progressBar {
    width: 30rem;
    height: 2rem;
    border: 0.3rem solid #ffffff;
    margin-top: 1.5rem;
  }
  
  #player1ProgressBarFull {
    height: 2rem;
    background-color: #56a5eb;
    width: 0%;
    float: left;
  }
  #player2ProgressBarFull{
    height: 2rem;
    background-color: #eb5656;
    width: 0%;
    float: right;
  }